.navbar{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0363E4;
    color: #fff;
}

.menu ul {
    display: flex;
    gap: 2.5rem;

    li{
        list-style: none;
    }

    .subNav  ul{
        display: none;
        gap: 0;
        padding-top: 1.5rem;
        border-radius: 5px;
        width: 6rem;
        position: absolute;
        flex-direction: column;
        background: #0363E4;
        li{
            padding: 0.2rem 0.5rem;
        }
        
    }
}

.search {
    display: flex;
    gap: 2rem;
    .search-icon{
        width: 1rem;
    }
}

.show:hover{
    .subNav  ul{
        display: flex;
    }
}


