.navbar{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0363E4;
    color: #fff;
}

.menu ul {
    display: flex;
    gap: 2.5rem;

    li{
        list-style: none;
    }

    .subNav  ul{
        display:none;
        gap: 0;
        
        top: 1rem;
        padding-top: 1rem;
        border-radius: 5px;
        width: 6rem;
        position: absolute;
        flex-direction: column;
        background: #0363E4;
        li{
            padding: 0.2rem 0.5rem;
            &:hover{
                border-radius: 5px;
                border-bottom: 1px solid #fff;
            }
        }
        
    }
}

.search {
    display: flex;
    gap: 2rem;
    .search-icon{
        width: 1rem;
    }
}

.show:hover{
    .subNav  ul{
        display: flex;
    }
}

.menu-bar{
    position: relative;
}

/* mobile responsive */

@media (max-width: 780px) {
    .navbar{
        justify-content: space-between;
        .menu{
            display: none;
        }
    }
  }

  /* laptop responsive */

  @media (min-width: 780px) {
    .menu-bar {
      display: none;
    }
  }