.top-stories{
    max-width: 81%;
    margin: 0 auto;
    background: white;
    padding: 1.5rem 1rem;
    border-radius: 5px;

    .stories-line{
        padding: 1rem 0rem;
        border-bottom: 1.5px solid #0363e4;
        margin-bottom: 1rem;
        p{
            font-size: 1.5rem;
            color: #0363e4;
        }
    }
    .stories-info{
        width: 100%;
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        .card{
            display: flex;
            gap: 1rem;
            max-width: 350px;
            padding: 0.5rem 1rem;
            padding-bottom: .5rem;
            border-radius: 5px;
            background: #000;
            margin-bottom: 1.5rem;
             img{
                width: 6rem;
                border-radius: 5px;
            }
            .info{
                justify-content: center;
                display: flex;
                flex-direction: column;
                font-size: 14px;
                gap: 1rem;
                p{
                    color: #fff;                    
                }
                a{
                    text-decoration: none;
                    color: #fff;
                    width: 260px;
                    cursor: pointer;
                }
            } 
        }
    }
    .left{
        
        background: #0363e4;
        color: #fff;
        border: none;
        padding: 0.3rem 0.8rem;
        border-start-end-radius: 10px;
        border-start-start-radius: 10px;
        border-end-start-radius: 10px;
        border-end-end-radius: 10px;
        float: right;
        cursor: pointer;
    }
}